grant codeBase "file:/Users/alenichel/IdeaProjects/MartinaNichelini-DistributedJobScheduling/src/Main/java" {
    permission java.security.AllPermission;
};